<section class="section">
<div class="container">
<h2 class="heading--sm center-text mb-4">Profile</h2>
  <div>
    <div class = "items-center">
      <%= image_tag @user.avatar, height: 96, width: 96, class: "mb-2"%>
    </div>
    <div class= "center-text bold mb-2">
      <%= @user.name %>
    </div>
    <div class= "faded_text center-text mb-2">
      <%= "@" + @user.username %>
    </div>
    <div class= "faded_text center-text mb-2">
      <%= "Joined on " + @user.created_at.strftime("%B %e, %Y") %>
    </div>
    <div class="items-center mb-2">
    <%= link_to 'Edit Profile', edit_user_registration_path(@user), class: "button button--primary-alt content-sm" %>
    </div>
  </div>
  <div class= "content-card">
  </div>
</div>
</div>
</section>